#map-display {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  
  img {
    width: 50%;
    margin: auto;
    
    @media (max-width: 1200px) {
      width: 90%;      
    }
  }
}