#map-display {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  
  .image-map {
    width: fit-content;
    margin: auto;

    display: flex;
    height: 69vh;
    justify-content: center;
  }
}