#footer {
  background-color: #212121;
  padding: 30px;
  width: 100%;
  display: grid;
  place-items: center;
  color: #aaa;
  font-weight: 300;
  text-align: center;
  font-size: 0.9em;

  p {

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}