#sub-header {
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .title-container {
    color: #212121;
    text-align: center;

    p {
      color: #212121;
      font-weight: 300;
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}